.picture-box[data-v-849dd524]{width:50px;height:50px}.picture-box img[data-v-849dd524]{width:100%;height:100%;object-fit:fill}.user-info img[data-v-849dd524]{width:40px;height:40px;border-radius:50%}
